#myvideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.container {
    position: fixed;
    bottom: 20;
    background: none;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}